:root{
  font-size: 16px;
  background-color: #f4f1de;
  color: #3d405b;
}
body{
  min-width: 250px;
  text-align: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  /* padding: 10px; */
  text-align: center;
}

.time_input {
  display: flex;
  flex-direction: row; 
  margin: 10px 0;
  gap: 10px;
}

.time_input label{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.0rem;   
  font-weight: bold;
  justify-content: center;
  color: #3d405b;
}

.time_input input{
  width: 60 px;
  padding: 8px;
  border: 1px solid #e07a5f;
  border-radius: 8px;
  font-size: 1rem;
  color:#3d405b;
  text-align: center;
}

.timer_display {
  font-size:3rem;
  font-weight: bold;
  color: #3d405b;
  font-family: 'Courier New', monospace;
  padding: 20px;
  border: 3px solid #e07a5f;
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.control_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  margin: 5px;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-primary {
  background: #f2cc8f;;
  color: #3d405b;
}
.btn:hover {
  background-color:#81b29a;
}

.cat-container {
  position: relative;
  margin-top: 5px;
}
.coin_container i {
  color: #e07a5f;
}
.coin_container {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 5px;
  margin-top: 10px;
}

#coinCount {
  font-weight: bold;
  color: ;
}

.cat {
  font-size: 80px;
  /* display: inline-block; */
}